/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .dice-button {
    background-color: black;
    color: white;
    width: 200px;
    height: fit-content;
    font-size: 2em;
 }